In [1]:
#Class 2 Practise

In [3]:
#There are 7 types of Operators

In [ ]:
#Arithematic Operators

In [13]:
#WAP to calculate the simple intrest 
principleamt=int(input("Enter your Principle:"))
Duration=int(input("Enter your duration:"))
rateofintrest=float(input("enter the rate of intrest:"))
intrest=(principleamt*Duration*rateofintrest)/100
print("the intrest you have to pay upon your Principle ", principleamt ," for the years",Duration,"with the rate of intrest",rateofintrest,"is",intrest)

Enter your Principle: 200
Enter your duration: 9
enter the rate of intrest: 9.0

the intrest you have to pay upon your Principle  200  for the years 9 with the rate of intrest 9.0 is 162.0

In [14]:
#Area of Triangle

In [21]:
base = int(input("Enter the base:"))
ht = int(input("Enter the height:"))
area = (base*ht)/2
print("The Area of Triangle", area)

Enter the base: 10
Enter the height: 5

TypeError: 'tuple' object is not callable

In [22]:
#Comparision OR Relational Operators 
#it is used to compare the value , the O/P is in boolean Format(T/F)

In [28]:
num1 = 2
num2 = 2
# equal to
print(num1 == num2)

TypeError: 'tuple' object is not callable

In [32]:
del print

NameError: name 'print' is not defined

In [34]:
num1 = 2
num2 = 2
# equal to
print(num1 == num2)

True

In [37]:
name1 = "Piyu"
name2 = "piyu"
print(name1 == name2)

False

In [43]:
#not equal to 
num1 = 50 
num2 = 20
print(num1 != num2)
print(num1 >= num2)
print(num1 <= num2)

True
True
False

In [47]:
#WAP to check the eligibility for voting 

age = 50
print(age>=18)

True

In [50]:
age=4
print(age>=18)

False

In [52]:
#Check if the sum of numbers from 1-10 is 50 

num = 1+2+3+4+5+6+7+8+9+10
print(num)
print(num == 50)

55
False

In [59]:
#checkl the Pytho Triangle
a=3
b=4
h=5
print((a*a)+(b**2)==(h*h), "this is triat")

True this is triat